::-webkit-scrollbar 
  width 10px
  height 10px
::-webkit-scrollbar-thumb 
  background-color rgba(200,200,200,1)
  background-image -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.3) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0.3) 75%,
      transparent 75%,
      transparent
  )
::-webkit-scrollbar-track 
  background #ededed
::-webkit-scrollbar-corner 
  background-color rgba(0,0,0,0)