.tags.has-addons .tag:not(:last-child) {
    transition: cubic-bezier(0.4, 0, 1, 1) 0.2s!important;
}

span.tag:hover {
    background-color: steelblue!important;
    color: white!important;
}

a.article-more.button.is-small.size-small {
    transition: cubic-bezier(0.4, 0, 1, 1) 0.2s!important;
    font-weight: bolder!important;
    background-color: #323232!important;
    border-color: transparent!important;
    border-width: 1.75px;
    color: white!important;
}

a.article-more.button.is-small.size-small:hover {
    background-color: #ffffff!important;
    border-color: black!important;
    border-width: 1.75px;
    color: black!important;
}

a.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

p.has-text-centered.is-size-6.caption {
    margin-top: 2px;
}

h3:before {
    content: "»";
}
h2:before {
    content: "§";
}
h4:before {
    content: "›";
}

/* ???? */
.icon.is-small {
    height: 0em!important;
    width: 0em!important;
}

/* ???? */
a.level-item.button.is-transparent.is-marginless {
    transition: ease 0.3s;
}
a.level-item.button.is-transparent.is-marginless:hover {
    transform: translateY(-7px);
}